{% if posts.pagination %}
<ul class="pagination">
  {% if posts.pagination.prev %}
	 <li><a href="{{ posts.pagination.prev.link }}" class="pag-item pag-prev"></a></li>
  {% endif %}

  {% for page in posts.pagination.pages %}
    <li>
      {% if page.link %}
      <a href="{{ page.link }}" class="pag-item {% if loop.first %}margin-right--1{% endif %} {% if loop.last %}margin-left--1{% endif %}"> {{ page.title }}
      {% else %}
         <a href="#"" class="{{ page.class }} current pag-item {% if loop.first %}margin-right--1{% endif %} {% if loop.last %}margin-left--1{% endif %}">{{ page.title }}
         </a>
      {% endif %}
      </a>
    </li>
  {% endfor %}

  {% if posts.pagination.next %}
	 <li><a href="{{ posts.pagination.next.link }}" class="pag-item pag-next"></a></li>
  {% endif %}
</ul>
{% endif %}

